<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulgnier.center.common.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yulgnier.center.common.user.model.domain.CommonUser">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="joinDate" column="join_date"/>
        <result property="accountStatus" column="account_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <select id="selectOneByNicknameIgnoreLogicDelete" resultMap="BaseResultMap">
        SELECT *
        FROM t_common_user
        WHERE nickname = #{nickname}
        LIMIT 1
    </select>

    <select id="selectOneByEmailIgnoreLogicDelete" resultMap="BaseResultMap">
        SELECT *
        FROM t_common_user
        WHERE email = #{email}
        LIMIT 1
    </select>

    <update id="updatePasswordByUidIgnoreLogicDelete">
        UPDATE t_common_user
        SET password = #{password}
        WHERE uid = #{uid}
    </update>
</mapper>
