<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuigneel.center.admin.user.mapper.AdminUserMapper">

    <resultMap id="BaseResultMap" type="com.yuigneel.center.admin.user.model.domain.AdminUser">
            <id property="id" column="id" />
            <result property="uid" column="uid" />
            <result property="email" column="email" />
            <result property="nickname" column="nickname" />
            <result property="password" column="password" />
            <result property="gender" column="gender" />
            <result property="birthday" column="birthday" />
            <result property="joinDate" column="join_date" />
            <result property="accountPermission" column="account_permission" />
            <result property="accountStatus" column="account_status" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="updateBy" column="update_by" />
    </resultMap>

    <select id="selectOneByNicknameIgnoreLogicDelete" resultMap="BaseResultMap">
        SELECT
            id, uid, email, nickname, password, gender, birthday,
            join_date, account_permission, account_status, is_deleted,
            create_time, update_time, update_by
        FROM t_admin_user
        WHERE nickname = #{nickname}
    </select>

    <update id="restoreUserIgnoreLogicDelete">
        UPDATE t_admin_user
        SET is_deleted = 0,
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="selectOneByEmailIgnoreLogicDelete" resultMap="BaseResultMap">
        SELECT
            id, uid, email, nickname, password, gender, birthday,
            join_date, account_permission, account_status, is_deleted,
            create_time, update_time, update_by
        FROM t_admin_user
        WHERE email = #{email}
    </select>

    <select id="selectOneByUidIgnoreLogicDelete" resultMap="BaseResultMap">
        SELECT
            id, uid, email, nickname, password, gender, birthday,
            join_date, account_permission, account_status, is_deleted,
            create_time, update_time, update_by
        FROM t_admin_user
        WHERE uid = #{uid}
    </select>

</mapper>
